alembic==1.0.7
asyncpg==0.18.3
bcrypt==3.1.6
cffi==1.11.5
Click==7.0
dnspython==1.16.0
email-validator==1.0.3
fastapi==0.1.19
gunicorn==19.9.0
h11==0.8.1
httptools==0.0.11
idna==2.8
Mako==1.0.7
MarkupSafe==1.1.0
passlib==1.7.1
psycopg2-binary==2.7.7
pycparser==2.19
pydantic==0.18.2
PyJWT==1.7.1
python-dateutil==2.7.5
python-editor==1.0.4
python-slugify==2.0.1
six==1.12.0
SQLAlchemy==1.2.17
starlette==0.10.1
Unidecode==1.0.23
uvicorn==0.3.32
uvloop==0.12.0
websockets==7.0
